<template>
  <div class="card  border-dark">
    <div class="card-header text-center" id="div">
      <h5>Управление</h5>
    </div>
    <div class="card-body">
      <form>
        <div class="row g-3">
          <div class="col-6">
            Название
          </div>
          <div class="col-6">
            <input type="text" class="form-control"
                   autocomplete="off" id="name"
                   v-model="sensor.title"
                   required
            >
            <div class="invalid-feedback">
              Это поле не может быть пустым!
            </div>
          </div>
          <div class="col-6">
            Формат градусов
          </div>
          <div class="col-6">
            <select class="form-control" id="select-format-new-sensor" required
                    v-model="sensor.format"
            >
              <option value="" selected>Выберите формат</option>
              <option value="Цельсий">Цельсий</option>
              <option value="Фаренгейт">Фаренгейт</option>
            </select>
            <div class="invalid-feedback">
              Выберите формат
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-primary border-dark col-4" id="add-dat" type="button"
                    @click="createSensor"
            >Добавить
              датчик
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: "AddSensorForm",
  data() {
    return {
      sensor: {
        title: '',
        format: '',
        value: '',
        isValid: false
      },
    }
  },
  methods: {
    createSensor() {
      this.$emit('create', this.sensor);
      this.sensor = {
        title: '',
        format: '',
        value: '',
        isValid: false
      }
    },
  }
}
</script>

<style scoped>

</style>