<template>
  <div class="container-fluid bg-dark">
    <div class="p-3">
      <a class="navbar-brand text-light" href="#">Калькулятор средней температуры</a>
    </div>
  </div>
</template>

<script>
export default {
  name: "CalcHeader"
}
</script>

<style scoped>

</style>