<template>
  <div class="card border-dark mt-3 mb-3">
    <div class="card-header text-center">
      <h5>Расчеты </h5>
    </div>
    <div class="card-body">
      <form>
        <div class="row g-3">
          <div class="col-6">
            Формат градусов
          </div>
          <div class="col-6">
            <select class="form-control" id="sensor-type-for-calculations"
                    required
                    v-model="format"
            >
              <option value="Цельсий">Цельсий</option>
              <option value="Фаренгейт">Фаренгейт</option>
            </select>
            <div class="invalid-feedback">
              Выберите формат
            </div>
          </div>
          <div class="col-6">
            Средняя температура
          </div>
          <div class="col-6">
            <input type="text" class="form-control d-none" required="">
            <div><p class="form-control" id="average">{{ average }}</p></div>
          </div>
          <div class="text-center">valueChanged
            <button class="btn btn-primary border-dark col-4" id="button-calculate-average" type="button"
                    :disabled="isDisable"
                    @click="$emit('calculateAverage', this.format)"
            >
              Рассчитать
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: "ResultForm",
  data() {
    return {
      format: 'Цельсий',
    }
  },
  props: {
    sensors: Array,
    average: String,
    isDisable: Boolean
  },
  components: {},
  methods: {},
}
</script>

<style scoped>
#average {
  height: 38px;
}
</style>
