<template>
  <div class="card-body" @submit.prevent>
    <form>
      <div class="row">
        <div class="col">
          <p>{{ sensor.title }}</p>
          <p>{{ sensor.format }}</p>
        </div>
        <div class="input-group mt-3 col h-50">
          <input type="number" class="form-control type-celsius" placeholder="введите данные"
                 name="sensor"
                 autocomplete="off"
                 required
                 @input="showThisSensorData"
                 v-model="value"
          >
          <button class="btn btn-outline-secondary bg-danger text-light" type="button"
                  @click="$emit('remove', sensor)"
          >X
          </button>
        </div>
        <div class="text-danger text-end"
             v-if="!isValid"
        >
          {{ errorMessage }}
        </div>
      </div>
    </form>
    <hr>
  </div>
</template>

<script>
export default {
  name: "SensorItem",
  data() {
    return {
      value: '',
      format: this.sensor.format,
      isValid: false,
      errorMessage: ''
    }
  },
  value: Number,
  props: {
    sensor: {
      type: Object,
      required: true,
    }
  },
  methods: {
    validate() {
      if (this.value === '' || this.value % 1 !== 0) {
        this.errorMessage = 'Введите целое число!'
        return false
      }
      this.errorMessage = ''
      return true
    },
    showThisSensorData() {
      this.isValid = this.validate()
      if (this.isValid) {
        this.$emit('valueChanged', this.sensor.id, this.value)
      }
      this.$emit('validateChanged', this.sensor.id, this.isValid)
    }
  }
}
</script>

<style scoped>

</style>


