<template>

  <div class="card border-dark mb-3 " id="sensors">
    <div class="card-header text-center">
      <h5>Датчики</h5>
    </div>
    <div id="sensorList">
      <div class="alert alert-danger m-3" role="alert" id="alert"
           v-show="sensors.length === 0">
        Не создано ни одного датчика!
      </div>
      <SensorItem
          @valueChanged="updateSensorValue"
          @validateChanged="sensorValidateChanged"
          @remove="$emit('remove', sensor)"
          v-for="sensor in sensors"
          :key="sensor.id"
          :value="sensor.value"
          :selectedTemperature="sensor.format"
          :sensor="sensor"
      />

    </div>
  </div>
</template>

<script>
import SensorItem from "@/components/SensorItem";

export default {
  name: "SensorList",
  components: {
    SensorItem
  },
  props: {
    sensors: {
      type: Array,
      required: true,
    }
  },
  methods: {
    sensorValidateChanged(id, value) {
      this.$emit('sensorValidateChanged', id, value)
    },
    updateSensorValue(id, value) {
      this.$emit('updateSensorValue', id, value)
    }
  }
}
</script>

<style scoped>

</style>