<template>
  <div id="app">
    <CalcHeader></CalcHeader>
    <div class="container pt-3">
      <div class="row">
        <div class="col">
          <AddSensorForm
              @create="createSensor"
          />
          <ResultForm
              @calculateAverage="calculateAverage"
              :average="average"
              :is-disable="isDisable"
          />
        </div>
        <div class="col">
          <SensorList
              @updateSensorValue="updateSensorValue"
              @sensorValidateChanged="sensorValidateChanged"
              @create="createSensor"
              @remove="removeSensor"
              :sensors="sensors"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AddSensorForm from "@/components/AddSensorForm";
import CalcHeader from "@/components/CalcHeader";
import ResultForm from "@/components/ResultForm";
import SensorList from "@/components/SensorList";

export default {
  name: 'App',
  components: {
    AddSensorForm,
    CalcHeader,
    ResultForm,
    SensorList
  },
  data() {
    return {
      nextSensorId: 1,
      sensors: [],
      average: '',
      isDisable: true
    }
  },
  methods: {
    sensorValidateChanged(id, isValid) {
      this.sensors.find(i => i.id === id).isValid = isValid
      this.updateValidate()
    },
    updateValidate() {
      let invalidSensors = this.sensors.filter(i => i.isValid === false)
      if (this.sensors.length === 0 || invalidSensors.length >= 1) {
        this.isDisable = true
        this.average = ''
      } else {
        this.isDisable = false
      }
    },
    createSensor(sensor) {
      sensor.id = this.nextSensorId++
      this.sensors.push(sensor)
      this.updateValidate()
    },
    removeSensor(sensor) {
      this.sensors = this.sensors.filter(i => i.id !== sensor.id)
      this.updateValidate()
    },
    updateSensorValue(id, value) {
      this.sensors.find(i => i.id === id).value = value
    },
    calculateAverage(format) {
      let sum = this.sensors.reduce((sum, sensor) => {
        let value = sensor.value
        let formSensors = document.getElementById('sensorList')
        if (sensor.value === '') {
          formSensors.classList.add('was-validated')
        }
        //если датчик не в нужном формате
        else if (sensor.format !== format) {
          //конвертируем значение датчика в нужный формат
          value = this.convertTo(value, format)
        }
        //добавляем к сумме значение датчика
        return sum + value
      }, 0)
      this.average = (sum / this.sensors.length).toFixed(2).toString()
    },
    convertTo(value, format) {
      if (format === 'Фаренгейт') {
        return value * 9 / 5 + 32
      } else {
        return (value - 32) * 5 / 9
      }
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
